# All gitignore

# Jupyter Notebooks Extensions

#*.ipynb
*.ipynb_checkpoints
.ipynb_checkpoints
*.ipynb  

# Other Extensions
*.json
*.csv
*.xlsx
*.pdf
*.eml
*.html
*.pdf
*.pyc
*.exe
*.txt
# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
